* {
  box-sizing: border-box;
}
.playfield {
  width: 80%;
  /* display: flex; */
  @media screen and (min-width: 768px){
    width: 100%
  }
}
.spinner {
  width: 100%;
  text-align: center;
}

.spinner span {
  font-size: 24px;
}

.statistics span {
  display: inline-block;
  font-size: 24px;
  margin: 25px;
}
